<div id="fh5co-content">
		<div class="video fh5co-video" style="background-image: url({{file_url(content.field_background_image['#items'].entity.uri.value)}});">
			<a href="{{content.field_video_link.0}}" class="popup-vimeo"><i class="icon-video2"></i></a>
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
			<div class="fh5co-heading">
				<h2>{{content.field_title.0}}</h2>
				<p>{{content.field_description.0}} </p>
			</div>
			{{ content.field_why_choose }}
		</div>
	</div>