<div class="col-md-4 col-sm-4 text-center animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="attorney">
						<h3>{{content.field_title.0}}</h3>
						<strong class="role">{{content.field_subtitle.0}}</strong>
						<p>{{content.field_description.0}}</p>
						<ul class="fh5co-social-icons">
						{% if content.field_facebook is not empty %}
							<li><a href="{{content.field_facebook.0}}"><i class="icon-facebook"></i></a></li>
						{% endif %}
						{% if content.field_twitter is not empty %}
							<li><a href="{{content.field_twitter.0}}"><i class="icon-twitter"></i></a></li>
						{% endif %}
						{% if content.field_dribble is not empty %}
							<li><a href="{{content.field_dribble.0}}"><i class="icon-dribbble"></i></a></li>
						{% endif %}
						{% if content.field_github is not empty %}
							<li><a href="{{content.field_github.0}}"><i class="icon-github"></i></a></li>
						{% endif %}
						</ul>
					</div>
				</div>