<div id="fh5co-practice" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>{{content.field_title.0}}</h2>
					<p>{{content.field_subtitle.0}}</p>
				</div>
			</div>
                    {{content.field_view_reference_block}}
	    </div>
</div>