<div id="fh5co-started" style="background-image:url({{file_url(content.field_background_image['#items'].entity.uri.value)}});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>{{content.field_title.0}}</h2>
					<p>{{content.field_subtitle.0}}</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="{{content.field_button.0['#url'] }}" class="btn btn-default btn-lg">{{content.field_button.0['#title'] }}</a></p>
				</div>
			</div>
		</div>
	</div>