
<div class="progress">
	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{content.field_value.0}}" aria-valuemin="0" aria-valuemax="100" style="width:{{content.field_value.0}}%">
	{{content.field_title.0}}
	</div>
</div>