<div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
	<a href="#"><img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="counsel-image" class="img-responsive">
		<h3>{{content.field_title.0}}</h3>
		<span>{{content.field_subtitle.0}}</span>
	</a>
</div>