<div class="col-md-3 text-center animate-box">
	<span class="icon"><i class="{{content.field_icon.0}}"></i></span>
	<span class="fh5co-counter js-counter" data-from="0" data-to="{{content.field_value.0}}" data-speed="5000" data-refresh-interval="50"></span>
	<span class="fh5co-counter-label">{{content.field_title.0}}</span>
</div>