<li style="background-image: url({{ fields.field_image.content }});">
   		<div class="overlay-gradient"></div>
   		<div class="container">
   			<div class="row">
	   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
	   				<div class="slider-text-inner">
	   					<h1>{{ fields.title.content }}</h1>
							<h2>{{ fields.field_subheader.content }}</h2>
							<p class="btn btn-primary btn-lg btn-learn">{{ fields.field_button.content }}</p>
	   				</div>
	   			</div>
	   		</div>
   		</div>
   	</li>