

<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>{{ view.getTitle() }} </h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							{% for row in rows %}
	                            {{ row.content }}
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>