 {#  https://api.drupal.org/api/drupal/core!modules!system!templates!menu.html.twig/8
    menu_name: The machine name of the menu.
    items: A nested list of menu items. Each menu item contains:
      attributes: HTML attributes for the menu item.
      below: The menu item child items.
      title: The menu link title.
      url: The menu link url, instance of \Drupal\Core\Url
      localized_options: Menu link localized options.
#}

{# All menu and submenu items #}

 <ul >
   {% for item in items %}
        {%
            set classes = [
            item.is_expanded ? 'has-dropdown',           
            item.in_active_trail ? 'active',
            ]
        %}
        {% if item.below %}
          <li {{ item.attributes.addClass( classes,'item') }}>
            <a href="{{item.url}}" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false" >
              {{ item.title }} <i class="fa fa-chevron-down"></i></a>
            <div class="dropdown" aria-labelledby="navbarDropdownMenuLink">
            {% for item in item.below %}
              <a href="{{item.url}}"> {{item.title}}</a>              
           {% endfor %}
            </div>
          </li>
          {% else %}
          <li {{ item.attributes.addClass( classes,'item') }}> <a {{ item.attributes.addClass( classes,'item') }} href="{{item.url}}">{{ item.title }}</a> </li>        
       {% endif %}
    {% endfor %}
</ul>                        
                       