{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>YG Law &mdash; Free Drupal8 theme by Drupal Developer Studio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />


  </head>
  <body>
    
  <div class="fh5co-loader"></div>
  
  <div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
      <div class="container">
        <div class="row">
          <div class="col-xs-2">
            {{page.logo}}
          </div>
          <div class="col-xs-10 text-right menu-1">
             {{page.navigation}}
          </div>
        </div>
        
      </div>
    </div>
  </nav>
<!-- End Navbar -->
  <!--  Start top banner section  -->
 <aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
      <ul class="slides">
        <li style="background-image: url(/yg_law/images/img_bg_1.jpg);">
          <div class="overlay-gradient"></div>
          <div class="container">
            <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
              <div class="slider-text-inner desc">
                <h2 class="heading-section">404</h2>
                <p class="fh5co-lead">Free Drupal8 theme <i class="icon-heart3"></i> by  <a href="https://www.drupaldevelopersstudio.com/" target="_blank">Drupal Developers Studio</a></p>
              </div>
            </div>
          </div>
        </li>
        </ul>
      </div>
  </aside>
<!--  End top banner section  -->
  
{# Main #}
<div id="page-not-found">
  <div class="container">  
    <div class="row"> 
      <div class="col-xs-12 col-md-12 text-center">
        <div class="section-title">
          <h1>404</h1>
          <h2>Page Not Found</h2>
        </div>        
        <div class="page-not-found-text">
          <p>Sorry! The page you are trying to reach does not exist, or has been moved.</p>
          <a href="{{ front_page }}" class="btn btn-custom btn-lg page-scroll">Back To Home</a>
        </div>
      </div>      
    </div>
  </div>
</div>

 

 <!-- Start footer section -->
<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row row-pb-md">
       <div class="col-md-3"> 
             {{ page.footer}}
        </div>
        <div class="col-md-3 col-md-push-1">         
         
            {{ page.footer_col_1 }}
          
        </div>
        <div class="col-md-3 col-md-push-1">
             {{ page.footer_col_2 }}
        </div>
       

        <div class="col-md-3 col-md-push-1">
           {{ page.footer_col_3 }}
        </div>

      </div>

      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
             <small class="block"><p>&copy; 2018<span> <a href="#"> YG Law</a></span>. All rights reserved. Developed by <a href="https://www.drupaldevelopersstudio.com/" target="_blank">Drupal Developers Studio</a></p></small>
          </p>
          <p>
            <ul class="fh5co-social-icons">
              <li><a href="{{ twitter }}"><i class="icon-twitter"></i></a></li>
              <li><a href="{{ facebook }}"><i class="icon-facebook"></i></a></li>
              <li><a href="{{ linkedin }}"><i class="icon-linkedin"></i></a></li>
              <li><a href="{{ dribble }}"><i class="icon-dribbble"></i></a></li>
            </ul>
          </p>
        </div>
      </div>

    </div>
  </footer>
<!-- End footer Section -->  
</body>